#multi-container{
    display: flex;
    flex-direction: column;
    gap:40px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(61, 61, 61);
}

#count,h2{
    background-color: rgb(100, 98, 98);
    align-self: center;
    border-radius: 10px;
    padding:10px 20px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: center;
}

button{
    background-color: green;
    border:none;
    border-radius:5px;
    padding:5px 10px;
    color: aliceblue;
    font-size: 1.2rem;
    
}
#count button:active{
    transform: scale(0.95);
}